node_modules/
.next/
.next/cache/
out/
dist/
build/
.env
.env.*
!.env.example
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
*.lcov
.eslintcache
.turbo/
.swc/
*.tsbuildinfo
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
